node_modules/**
test/e2e-app-template/public/certificates/*.cer
test/e2e-app-template/public/certificates/*.pkcs
tags
.zedstate
npm-debug.log
/temp
/android-sdk-macosx.zip
/android-sdk-macosx/**
.idea/
*.iml
